

<div class="container">
	<h2>Striped Rows</h2>
	<p>The .table-striped class adds zebra-stripes to a table:</p>

	<div class="container" id="orderSettings">
	  <mat-chip-list cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
			<mat-chip cdkDrag *ngFor="let col of columns">
				{{col.name}}
			</mat-chip>
		</mat-chip-list>
	</div>

	<div class="container">

		<form>
			<label class="checkbox-inline">
        <input
          type="checkbox"
          [(ngModel)]="firstNameCh"
          [ngModelOptions]="{standalone: true}"
        />firstname
      </label>
			<label class="checkbox-inline">
        <input
          type="checkbox"
          [(ngModel)]="lastNameCh"
          [ngModelOptions]="{standalone: true}"
        />lastname
      </label>
			<label class="checkbox-inline">
        <input
          type="checkbox"
          [(ngModel)]="emailCh"
          [ngModelOptions]="{standalone: true}"
        />email
      </label>
		</form>
	</div>

	<table class="table table-striped" id="results">
		<thead>
			<tr>
				<th *ngIf="firstNameCh" [className]="'order-' + firstNameOrder + ' w-100'" id="firstNameCh">Firstname</th>
				<th *ngIf="lastNameCh" [className]="'order-' + lastNameOrder + ' w-100'" id="lastNameCh">Lastname</th>
				<th *ngIf="emailCh" [className]="'order-' + emailOrder + ' w-100'" id="emailCh">Email</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td *ngIf="firstNameCh" [className]="'order-' + firstNameOrder + ' w-100'">John</td>
				<td *ngIf="lastNameCh" [className]="'order-' + lastNameOrder + ' w-100'">Doe</td>
				<td *ngIf="emailCh" [className]="'order-' + emailOrder + ' w-100'">john@example.com</td>
			</tr>
			<tr>
				<td *ngIf="firstNameCh" [className]="'order-' + firstNameOrder + ' w-100'">John</td>
				<td *ngIf="lastNameCh" [className]="'order-' + lastNameOrder + ' w-100'">Doe</td>
				<td *ngIf="emailCh" [className]="'order-' + emailOrder + ' w-100'">john@example.com</td>
			</tr>
		</tbody>
	</table>
</div>
